#Requirements for the project

#Requires Python 3.8 - 3.11
numpy
pandas
scikit-learn
matplotlib
requests
datetime
bs4
fredapi
tensorflow==2.13.0
pandas-ta
matplotlib
seaborn
xgboost
statsmodels
scipy
flask
aws-wsgi
