<!DOCTYPE html>
<html>
<head>
    <title>Hurley 691 Flask App</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>S&P500 Trading Strategy Returns</h1>

    <h2>Adjust Strategy Parameters:</h2>
    <h3>Instructions:</h3>   
    <p> 
        Adjust the parameters below to customize the trading strategy. The model will predict buy/sell probabilities based on the inputs.
        <br>
        <br>
        <strong>Note:</strong> 
        Expand window is the number of additional positive markers the model will add extra positive markers around the buy/sell signals. This helps the model recognize the buy/sell signals more accurately, but can create noise if too high.
    </p>
    <h3>Strategy Parameters:</h3>   
    <form id="predict_user_input">
        <label>Min Days Between Buy and Sell:</label>
        <input type="number" name="min_days_between_buy_and_sell" value="180">
        <br>
    
        <label>Max Days Between Buy and Sell:</label>
        <input type="number" name="max_days_between_buy_and_sell" value="730">
        <br>
    
        <label>Min Days Between Sell and Buy:</label>
        <input type="number" name="min_days_between_sell_and_buy" value="90">
        <br>
    
        <label>Max Days Between Sell and Buy:</label>
        <input type="number" name="max_days_between_sell_and_buy" value="365">
        <br>
    
        <label>Expand Window:</label>
        <input type="number" name="expand_window" value="7">
        <br>
    </form>
    <button id="predictBtn">Run Custom Strategy</button>
    <h3>Results:</h3>
    <p>Holding Strategy Return: <span id="holdingReturn">--</span>%</p>
    <p>Ideal Buy/Sell Strategy Return: <span id="idealReturn">--</span>%</p>
    <p>Model Strategy Return: <span id="modelReturn">--</span>%</p>

    <h3>Comparison Charts:</h3>
    <div id="holdingChart"></div>
    <div id="idealChart"></div>
    <div id="modelChart"></div> 
    <br>

    <script>
        document.getElementById("predictBtn").addEventListener("click", function () {
            const form = document.getElementById("predict_user_input");
            const formData = new FormData(form);
    
            // Convert form data to JSON
            const data = {};
            formData.forEach((value, key) => {
                data[key] = value;
            });
    
            fetch("/predict_user_input", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                // Update Holding Strategy Return
                document.getElementById("holdingReturn").textContent = data.holding_return;
    
                // Update Ideal Buy/Sell Strategy Return
                document.getElementById("idealReturn").textContent = data.ideal_return;
    
                // Update Model Strategy Return
                document.getElementById("modelReturn").textContent = data.model_return;
    
                // Render Ideal Buy/Sell Chart
                document.getElementById("idealChart").innerHTML = `<img src="data:image/png;base64,${data.ideal_chart_image}" alt="Ideal Buy/Sell Chart" />`;
    
                // Render Holding Strategy Chart
                document.getElementById("holdingChart").innerHTML = `<img src="data:image/png;base64,${data.holding_chart_image}" alt="Holding Strategy Chart" />`;
    
                // Render Model-Based Strategy Chart
                document.getElementById("modelChart").innerHTML = `<img src="data:image/png;base64,${data.model_chart_image}" alt="Model-Based Strategy Chart" />`;
            })
            .catch(error => {
                console.error("Error:", error);
            });
        });
    </script>


    <form id="macro_input_form">
        <h2>Test Feature Inputs:</h2>
        <h3>Instructions:</h3>   
        <p> 
            Adjust the macroeconomic inputs using sliders to see how they affect the model's predictions. The model will predict buy/sell probabilities based on the inputs.
        </p>
        <label>Housing Market Index (HOUST):</label>
        <input type="range" name="HOUST" min="478" max="2494" step="201.6" value="{{ medians['housing_market'] }}">
        <br>

        <label>Interest Rate (DFF) (%):</label>
        <input type="range" name="DFF" min="-7.89" max="7.79" step="1.57" value="{{ medians['interest_rate'] }}">
        <br>

        <label>Sahm Rule (SAHMCURRENT) (%):</label>
        <input type="range" name="SAHMCURRENT" min="-0.4" max="9.43" step="0.98" value="{{ medians['sahm_rule'] }}">
        <br>

        <label>Daily Volume:</label>
        <input type="range" name="volume" min="-5044220000" max="4637230000" step="968145000" value="{{ medians['daily_volume'] }}">
        <br>

        <label>RSI (56-period):</label>
        <input type="range" name="rsi_56" min="21.59" max="78.91" step="5.73" value="{{ medians['rsi_56'] }}">
        <br>

        <label>Bollinger Band Upper (200-period):</label>
        <input type="range" name="bb_upper_200" min="-10.21" max="13.26" step="2.35" value="{{ medians['bollinger_upper_200'] }}">
        <br>

        <label>Bollinger Band Lower (200-period):</label>
        <input type="range" name="bb_lower_200" min="-20.65" max="17.94" step="3.86" value="{{ medians['bollinger_lower_200'] }}">
        <br>

        <label>Bollinger Band Upper (50-period):</label>
        <input type="range" name="bb_upper_50" min="-41.61" max="36.16" step="7.78" value="{{ medians['bollinger_upper_50'] }}">
        <br>

        <label>Bollinger Band Lower (50-period):</label>
        <input type="range" name="bb_lower_50" min="-69.81" max="43.95" step="11.38" value="{{ medians['bollinger_lower_50'] }}">
        <br>

        <button type="submit">Run Feature Inputs</button>
    </form>

    <h3>Results for Feature Inputs:</h3>
    <p>Buy Probability: <span id="customBuyResult">--</span>%
    <br>
    Sell Probability: <span id="customSellResult">--</span>%</p>
    <div id="customChart"></div>

    <script>
        document.getElementById("macro_input_form").addEventListener("submit", function(event) {
            event.preventDefault();
            fetch("/macro_input_form", {
                method: "POST",
                body: new FormData(event.target)
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById("customBuyResult").textContent = data.buy_probability;
                document.getElementById("customSellResult").textContent = data.sell_probability;

            });
        });
    </script>
</body>
</html>